Credit Card Fraud Detection/flows (3).json
[{"id":"1bd9d1a0.62969e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2b7bf3e7.ad379c","type":"function","z":"1bd9d1a0.62969e","name":"PreToken","func":"global.set(\"gr\",msg.payload.gr)\nglobal.set(\"md\",msg.payload.md)\nglobal.set(\"ds\",msg.payload.ds)\nglobal.set(\"en\",msg.payload.en)\nglobal.set(\"sd\",msg.payload.sd)\nglobal.set(\"ae\",msg.payload.ae)\nglobal.set(\"ce\",msg.payload.ce)\nglobal.set(\"lt\",msg.payload.lt)\nglobal.set(\"lm\",msg.payload.lm)\nglobal.set(\"cye\",msg.payload.cye)\nglobal.set(\"hg\",msg.payload.hg)\nglobal.set(\"ly\",msg.payload.ly)\nvar apikey=\"S9SFDtrvLzDOgbrVRRmTNWY-se63HSzkh1wkXinyY2to\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["ab48ed38.2a653"]]},{"id":"ab48ed38.2a653","type":"http request","z":"1bd9d1a0.62969e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":719,"y":468.9999952316284,"wires":[["c92286ab.9924c8","a18969a6.8f6938"]]},{"id":"36b3507.ad6c8b","type":"inject","z":"1bd9d1a0.62969e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":365.5,"y":393.99999809265137,"wires":[["2b7bf3e7.ad379c"]]},{"id":"9ff8de70.16abb","type":"debug","z":"1bd9d1a0.62969e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1158.0000114440918,"y":210.99999713897705,"wires":[]},{"id":"c92286ab.9924c8","type":"function","z":"1bd9d1a0.62969e","name":"Pre Prediction","func":"var gr = global.get('gr')\nvar md = global.get('md')\nvar ds = global.get('ds')\nvar en = global.get('en')\nvar sd = global.get('sd')\nvar ae = global.get('ae')\nvar ce = global.get('ce')\nvar lt = global.get('lt')\nvar lm = global.get('lm')\nvar cye = global.get('cye')\nvar hg = global.get('hg')\nvar ly = global.get('ly')\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"input_data\": [{\"fields\": [['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',\n       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Term',\n       'Credit_History_Available', 'Housing', 'Locality']], \"values\": [[gr,md,ds,en,sd,ae,ce,lt,lm,cye,hg,ly]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":916.0000076293945,"y":431.9999990463257,"wires":[["74ccb444.b8c2fc"]]},{"id":"74ccb444.b8c2fc","type":"http request","z":"1bd9d1a0.62969e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/e9a343b9-1fd7-4bae-bf48-48cbc5e580c7/predictions?version=2020-11-03","tls":"","persist":false,"proxy":"","authType":"","x":1009.5000076293945,"y":375.9999990463257,"wires":[["b450f517.c728f8","984c3dfe.712a5"]]},{"id":"b450f517.c728f8","type":"function","z":"1bd9d1a0.62969e","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":869.6000366210938,"y":271.60000133514404,"wires":[["9ff8de70.16abb","3ce6af6b.825dc"]]},{"id":"c6c1dc9d.28c34","type":"debug","z":"1bd9d1a0.62969e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":620,"wires":[]},{"id":"a18969a6.8f6938","type":"debug","z":"1bd9d1a0.62969e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":580,"wires":[]},{"id":"984c3dfe.712a5","type":"debug","z":"1bd9d1a0.62969e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1280,"y":440,"wires":[]},{"id":"6bb55fad.4ab1f","type":"ui_form","z":"1bd9d1a0.62969e","name":"","label":"","group":"94e84ee0.6b8dc","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"gr","type":"number","required":true,"rows":null},{"label":"Married","value":"md","type":"number","required":true,"rows":null},{"label":"Dependents","value":"ds","type":"number","required":true,"rows":null},{"label":"Education","value":"en","type":"number","required":true,"rows":null},{"label":"Self_Employed","value":"sd","type":"number","required":true,"rows":null},{"label":"ApplicantIncome","value":"ae","type":"number","required":true,"rows":null},{"label":"CoapplicantIncome","value":"ce","type":"number","required":true,"rows":null},{"label":"LoanAmount","value":"lt","type":"number","required":true,"rows":null},{"label":"Loan_Term","value":"lm","type":"number","required":true,"rows":null},{"label":"Credit_History_Available","value":"cye","type":"number","required":true,"rows":null},{"label":"Housing","value":"hg","type":"number","required":true,"rows":null},{"label":"Locality","value":"ly","type":"number","required":true,"rows":null}],"formValue":{"gr":"","md":"","ds":"","en":"","sd":"","ae":"","ce":"","lt":"","lm":"","cye":"","hg":"","ly":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":311,"y":522.9999952316284,"wires":[["2b7bf3e7.ad379c","c6c1dc9d.28c34"]]},{"id":"3ce6af6b.825dc","type":"ui_text","z":"1bd9d1a0.62969e","group":"94e84ee0.6b8dc","order":2,"width":0,"height":0,"name":"","label":"Fraud_Risk","format":"{{msg.payload}}","layout":"row-spread","x":1057.6000366210938,"y":528.2000074386597,"wires":[]},{"id":"94e84ee0.6b8dc","type":"ui_group","z":"","name":"Credit Card Fraud Detection","tab":"64771cb0.dea194","order":2,"disp":true,"width":"6","collapse":false},{"id":"64771cb0.dea194","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]